body {
    background-image: url('https://images.pexels.com/photos/287227/pexels-photo-287227.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #fff;
    scroll-behavior: smooth;


}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

h1 {
    text-align: center;
}

.image-preview {
    width: 100%;
    margin-bottom: 20px;
}

#previewImage {
    max-width: 100%;
}

.file-input {
    margin-bottom: 20px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}
