{% extends "layout.html"%}
{% block title %}
Prediction - Hand Sign Digit Recognition
{% endblock %}

{% block content %}
<div class="container py-5">

    <header class="text-white text-center">
        <h1 class="display-4">Breast Cancer Detection</h1>
        <p class="lead mb-5">You will see the prediction of the input image : <br>
            0 Means There is No Cancer. <br>
            1 Means There is Cancer, Go To Doctor.
            <br>
        </p>
    </header>

    <header class="text-white text-center">
        <h1 class="display-5">Prediction</h1>
        {% if predictions %}
        <h2 class="display-6 text-light font-weight-bold">{{predictions}}</h2>
        <h6 class="display-6 text-light font-weight-bold">By Ahmed Ayman EL-Saey</h6>
        {% else %}
        <h2 class="display-4 text-light font-weight-bold">{{err}}</h2>
        {% endif %}
    </header>
</div>
<br>
<div class="container2">
    <h3>This Website Belongs To VitalCare+ App</h3>
</div>

{% endblock %}
